.video-box {
    width: 80%;
    height: 300px;
    background: #222;
    margin: 20px auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.popup {
    position: fixed;
    top: 30%;
    left: 40%;
    background: yellow;
    padding: 20px;
    border-radius: 10px;
}
.hidden {
    display: none;
}


/*constant styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    height: 100vh;
    background: #111;
    color: white;
    overflow: hidden;
}
