body {
    font-family: Arial;
    padding: 20px;
}

.back-btn {
    margin-bottom: 20px;
    cursor: pointer;
}

.primary-btn {
    padding: 12px 20px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
